@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}
.flash-box {
  background-color: #00000000;
  animation: flash 0.4s ;
}

@keyframes flash {
  0%, 100% {
    opacity: 1;
    background-color: black;
  }
  50% {
    opacity: 0;
  }
}

.font-pixel{
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
}
